Django==2.0
zappa
django-extensions
bpython
pytest
django-rest-framework
django-storages
django-auditlog
boto
django-environ
django-ses
django-s3-storage==0.12.4
psycopg2-binary
pandoc
django-filter
django-rest-registration
django-jet
django-cors-headers
djangorestframework_simplejwt
django-choices==1.7.0
factory-boy
