Django==3.2.25
zappa
django-extensions
bpython
pytest
django-rest-framework
django-storages
django-auditlog
boto
boto3
django-environ
django-ses
django-s3-storage==0.12.4
gql
psycopg2-binary
pandoc
django-filter
django-rest-registration
django-jet
django-cors-headers
django-choices
djangorestframework_simplejwt
uwsgi
factory_boy
